@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
@import url("https://font.elice.io/css?family=Elice+Digital+Baeum");
@import url('https://fonts.cdnfonts.com/css/moon-20');
@import url(https://db.onlinewebfonts.com/c/ac95f91c55cc591ecf37a4d136ff8031?family=BMWTypeNext+Pro+Regular); 

@font-face {
    font-family: 'Moon 2.0';
    font-style: normal;
    font-weight: 400;
    src: local('Moon 2.0'), url('https://fonts.cdnfonts.com/s/16246/Moon2.0-Regular.woff') format('woff');
}
@font-face {
    font-family: 'Moon 2.0';
    font-style: normal;
    font-weight: 400;
    src: local('Moon 2.0'), url('https://fonts.cdnfonts.com/s/16246/Moon2.0-Bold.woff') format('woff');
}
@font-face {
    font-family: 'Moon 2.0';
    font-style: normal;
    font-weight: 400;
    src: local('Moon 2.0'), url('https://fonts.cdnfonts.com/s/16246/Moon2.0-Light.woff') format('woff');
}

@font-face {
  font-family: 'Moon 2.0 Bold';
  src: url('Moon2.0-Bold.otf') format('opentype');
}

@font-face {
  font-family: "BMWTypeNext Pro Regular";
  src: url("https://db.onlinewebfonts.com/t/ac95f91c55cc591ecf37a4d136ff8031.eot");
  src: url("https://db.onlinewebfonts.com/t/ac95f91c55cc591ecf37a4d136ff8031.eot?#iefix")format("embedded-opentype"),
  url("https://db.onlinewebfonts.com/t/ac95f91c55cc591ecf37a4d136ff8031.woff2")format("woff2"),
  url("https://db.onlinewebfonts.com/t/ac95f91c55cc591ecf37a4d136ff8031.woff")format("woff"),
  url("https://db.onlinewebfonts.com/t/ac95f91c55cc591ecf37a4d136ff8031.ttf")format("truetype"),
  url("https://db.onlinewebfonts.com/t/ac95f91c55cc591ecf37a4d136ff8031.svg#BMWTypeNext Pro Regular")format("svg");
}



*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Elice Digital Baeum", sans-serif;
}
header
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 40px 100px;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .logo
{
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
}
.showcase
{
  position: absolute;
  right: 0;
  width: 100%;
  min-height: 100vh;
  padding: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #111;
  transition: 0.5s;
  z-index: 2;
}
.showcase.active
{
  right: 300px;
}

.showcase video
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.8;
}
.overlay
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(0,0,0);
  background: linear-gradient(90deg, rgba(0,0,0,0.7469187504103203) 12%, rgba(131,131,131,1) 29%, rgba(255,255,255,0) 45%);
  mix-blend-mode: overlay;
}
.text
{
  position: relative;
  z-index: 10;
}

.text h2
{
  font-family: "Moon 2.0 Bold", sans-serif;
  font-size: 5em;
  font-weight: 800;
  color: #fff;
  line-height: 1em;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.text h3
{
  font-family: "Moon 2.0 Bold", sans-serif;
  font-size: 4em;
  font-weight: 700;
  color: #fff;
  line-height: 1em;
  text-transform: uppercase;
  letter-spacing: 1.8px;
}

.text h4
{
  font-family: "Moon 2.0 Bold", sans-serif;
  font-size: 3em;
  font-weight: 600;
  color: #fff;
  line-height: 1em;
  text-transform: uppercase;
  letter-spacing: 1.8px;
}

.text h5
{
  font-family: "Moon 2.0 Bold", sans-serif;
  font-size: 2em;
  font-weight: 500;
  color: #fff;
  line-height: 1em;
  text-transform: uppercase;
  letter-spacing: 1.8px;
}

.text p
{
  font-size: 1.1em;
  color: #fff;
  margin: 20px 0;
  font-weight: 400;
  max-width: 700px;
}
.text a
{
  font-family: "Moon 2.0 Bold", sans-serif;
  display: inline-block;
  font-size: 1em;
  background: #fff;
  padding: 10px 30px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 500;
  margin-top: 10px;
  color: #111;
  letter-spacing: 2px;
  transition: 0.2s;
}
.text a:hover
{
  letter-spacing: 5px;
}
.social
{
  position: absolute;
  z-index: 10;
  bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.social li
{
  list-style: none;
}
.social li a
{
  padding: 5px;
  color: #000;
  display: inline-block;
  margin-right: 20px;
  filter: invert(1);
  transform: scale(1.5);
  transition: 0.5s;
}
.social li a:hover
{
  transform: scale(2) translateY(-15px);
}


@media (max-width: 991px)
{
  .showcase,
  .showcase header
  {
    padding: 40px;
  }
  .text h2
  {
    font-size: 3em;
  }
  .text h3
  {
    font-size: 2em;
  }
}



.rotating-text {
    font-family: "Elice Digital Baeum", sans-serif;
    font-weight: 400;
    font-size: 1.3em;
    color: white;
    text-transform: uppercase;
  }
  .rotating-text p {
    display: inline-flex;
    margin: 20px 0;
  }
  .rotating-text p .word {
    position: absolute;
    display: flex;
    opacity: 0;
  }
  .rotating-text p .word .letter {
    transform-origin: center center 25px;
  }
  .rotating-text p .word .letter.out {
    transform: rotateX(90deg);
    transition: 0.32s cubic-bezier(0.6, 0, 0.7, 0.2);
  }
  .rotating-text p .word .letter.in {
    transition: 0.38s ease;
  }
  .rotating-text p .word .letter.behind {
    transform: rotateX(-90deg);
  }
